body {
  font-family: sans-serif;
}

h1 {
  margin: 2px;
}

table {
  width: 100%;
  border-spacing: 0px;
  font-family: arial, sans-serif;
}

label {
  width: 60px;
  float: left;
}

td:last-child, td:first-child, th:last-child, th:first-child {
  text-align: center;
  width: 90px;
}

.even {
  background-color: #ddd
}

.control_pane {
  width: 48%;
}

.container {
  width: 100%;
}

#output {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  float: left;
  font-family: monospace;
  overflow: scroll;
}

#progress_div {
  position: fixed;
  top: 10px;
  left: 50%;
  z-index: 1000;
  background-color: #FFFFFF;
  width: 600px;
  margin-left: -300px;
  height: 100px;
  border: solid;
  border-width: 1px;
  border-color: #000000;
  padding: 0px;
}

#progress_message {
  position: relative;
  top: 20px;
  font-family: sans-serif;
  font-size: 36px;
  text-align: center;
  color: #000;
}

#progress_bar {
  position: absolute;
  top: 80px;
  height: 20px;
  width: 100%;
  text-align: center;
  border-color: #000000;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
  background-image: -webkit-linear-gradient(left, orange 0%, grey 5%);
}

.next {
  cursor: pointer;
}